@model MiComunidad.Models.Programa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Programa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombrePrograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePrograma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionPrograma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionPrograma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProgramaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
