@model MiComunidad.Models.Cliente

@{
    ViewBag.Title = "Details";
    
}

<div class="">
    <div class="modal-title" style="color: #3A87AD;">
        <h2>Detalle del Cliente</h2>
    </div>
    <div>

        <hr />
        @using (Html.BeginForm("AddNote", "Clientes",FormMethod.Post))
        { 
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rut)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ubicacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ubicacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>
        <div>
            <button type="submit" id="btnSave" class="btn btn-primary" value="Save" />
            <button type="button"  value="Cancelar" class="btn btn-sm" data-dismiss="modal" />
        </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#bnSave').click(function () {
            $('#modal-container').modal('hide');
        });
    });


</script>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ClienteID }) |*@
    @*@Html.ActionLink("Volver", "Index")*@
</p>
